@* @model IQueryable<string>

<div class="d-grid gap-2">
    @foreach (string c in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(c == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-category="@c" asp-route-color="" asp-route-pageNum="1">@c</a>
    }
</div> *@

@model IQueryable<string>
<div>
    <select id="colorFilter" class="product-filter-select" onchange="changeProductColor(this)">
        <option value="">All Colors</option>
        @foreach (string c in Model ?? Enumerable.Empty<string>())
        {
            <option value="@c" class="@(c == ViewBag.SelectedProductColor ? "btn-primary" : "btn-outline-secondary")">@c</option>
        }
    </select>
</div>
<script>
    function changeProductColor(select) {
        var selectedValue = select.value;
        if (selectedValue === '') {
            window.location.href = '@Url.Action("Products", "Home")'; // Redirect to /Product
            return;
        }
        var url = '@Url.Action("Products", "Home")';
        var params = '?color=' + encodeURIComponent(selectedValue) + '&pageNum=1';
        window.location.href = url + params;
    };
    window.onload = function() {
        var select = document.getElementById("colorFilter");
        console.log(select);
        var urlParams = new URLSearchParams(window.location.search);
        var selectedColor = urlParams.get('color');
        console.log(selectedColor);
        if (selectedColor) {
            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].value === selectedColor) {
                    select.options[i].selected = true;
                    break;
                }
            }
        }
    };
</script>