@model ListViewModel

<h1>LEGO BUILD</h1>

<div id="listContainer">
@foreach (Product p in Model.Products)
{
    <div>
        <h2>@p.Name</h2>
        @* <div class="titleDivider"></div>
        <p><strong>Author:</strong> @b.Author</p>
        <p><strong>Publisher:</strong> @b.Publisher</p>
        <p><strong>ISBN:</strong> @b.Isbn</p>
        <p><strong>Classification:</strong> @b.Classification</p>
        <p><strong>Category:</strong> @b.Category</p>
        <p><strong>Page Count:</strong> @b.PageCount</p>
        <p><strong>Price:</strong> $@b.Price</p> *@
    </div>
}
</div>

@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a> *@
<div id="paginationNavigation" page-model="@Model.PaginationInfo" page-action="Index"></div>
