@using Intex.Infrastructure;
@model ListViewModel

<h1>All Products</h1>

<div class="container-top-products">
    @foreach (Product p in Model.Products)
    {
        <div class="product">
            <img src="@p.ImgLink"/>
            <h3 class="product-name">@p.Name</h3>
            <a href="@Url.Action("ProductDetail", "Home", new { id = p.ProductId })">View Product</a>

            <form id=@p.ProductId method="post" asp-page="/Cart">
                @* <input type="hidden" asp-for="ProductId" /> *@
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit" class="btn-outline-success btn-sm float-end">Add to Cart</button>
            </form>

        </div>
    }
</div>

@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a> *@
<div id="paginationNavigation" page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class-normal="normal-page-btn" page-class-selected="selected-page-btn"></div>