@model Intex.Models.ProductDetailViewModel

<h1>Product Details:</h1>
<h1>@Model.Product.Name</h1>

<div>
    <img src="@Model.Product.ImgLink" width="300px" />
    <p>Description: @Model.Product.Description</p>
    <p>Category: @Model.Product.Category</p>
    <p>Price: $@Model.Product.Price</p>
    <p>Number of Parts: @Model.Product.NumParts</p>
    <p>Year: @Model.Product.Year</p>
    <p>Primary Color: @Model.Product.PrimaryColor</p>
    <p>Secondary Color: @Model.Product.SecondaryColor</p>
</div>

<h2>Recommendations:</h2>
@if (Model.Recommendations != null)
{
    <ul>
        <li>@Model.Recommendations.Rec1Name</li>
        <li>@Model.Recommendations.Rec2Name</li>
        <li>@Model.Recommendations.Rec3Name</li>
    </ul>
}
else
{
    <p>No recommendations available for this product.</p>
}
